# Programación para el Análisis de Datos

## Clase 4 - práctica resuelta

In [1]:
import numpy as np
import pandas as pd

### Ejercicio 1


* Crear un dataframe que contenga la siguiente información:


|    |  Nombre             | Posición | Número
|---:|:---------           | :----    |:----
|  0 | Nery Pumpido        | ARQ      | 18
|  1 | José Cuciuffo       | DEF      | 9
|  2 | José Luis Brown     | DEF      | 5
|  3 | Oscar Ruggeri       | DEF      | 19
|  4 | Sergio Batista      | MED      | 2
|  5 | Ricardo Giusti      | MED      | 14
|  6 | Jorge Burruchaga    | MED      | 7
|  7 | Héctor Enrique      | MED      | 12
|  8 | Julio Olarticoechea | MED      | 16
|  9 | Jorge Valdano       | DEL      | 11
|  10| Diego Maradona      | DEL      | 10

In [2]:
### Completa con tu código aquí:

nombres = ['Nery Pumpido', 
           'José Cuciuffo', 
           'José Luis Brown', 
           'Oscar Ruggeri', 
           'Sergio Batista', 
           'Ricardo Giusti', 
           'Jorge Burruchaga',
           'Héctor Enrique',
           'Julio Olarticoechea',
           'Jorge Valdano', 
           'Diego Maradona']

posiciones = ['ARQ',
             'DEF',
             'DEF',
             'DEF', 
             'MED',
             'MED',
             'MED',
             'MED',
             'MED',
             'DEL',
             'DEL',              
             ]

camisetas = [18, 9, 5, 19, 2, 14, 7, 12, 16, 11, 10]


dic = {'Nombre': nombres, 'Posición': posiciones, 'Número': camisetas}

seleccion = pd.DataFrame(dic)
seleccion

                 Nombre Posición  Número
0          Nery Pumpido      ARQ      18
1         José Cuciuffo      DEF       9
2       José Luis Brown      DEF       5
3         Oscar Ruggeri      DEF      19
4        Sergio Batista      MED       2
5        Ricardo Giusti      MED      14
6      Jorge Burruchaga      MED       7
7        Héctor Enrique      MED      12
8   Julio Olarticoechea      MED      16
9         Jorge Valdano      DEL      11
10       Diego Maradona      DEL      10

### Ejercicio 2

* A partir del dataframe creado, generar una serie con el nombre de los mediocampistas

**Ayuda:** usar una máscara booleana

In [3]:
### Completa con tu código aquí:

seleccion.loc[seleccion['Posición']=='MED', 'Nombre']

4         Sergio Batista
5         Ricardo Giusti
6       Jorge Burruchaga
7         Héctor Enrique
8    Julio Olarticoechea
Name: Nombre, dtype: object

### Ejercicio 3

* Mostrar un dataframe con el nombre y el número de todos los jugadores con número de camiseta par

In [4]:
### Completa con tu código aquí:

mask = seleccion['Número'] % 2 == 0
seleccion.loc[mask, ['Nombre', 'Número']]

                 Nombre  Número
0          Nery Pumpido      18
4        Sergio Batista       2
5        Ricardo Giusti      14
7        Héctor Enrique      12
8   Julio Olarticoechea      16
10       Diego Maradona      10

### Ejercicio 4

* Importar con pandas el dataset **'data/US Presidential Election Results - ResultsByTurnout.csv'**


* Mirar qué tipo de datos hay en cada columna y si hay valores nulos

In [5]:
### Completa con tu código aquí:

df = pd.read_csv('data/US Presidential Election Results - ResultsByTurnout.csv')
df.head()

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin
0,1788,11.6,"39,624",69,35
1,1792,6.3,"28,300",132,66
2,1796,20.1,"66,841",138,69
3,1800,32.3,"75,142",138,69
4,1804,23.8,"143,029",176,88

In [6]:
df.shape

(59, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ElectionYear         59 non-null     int64
 1   Turnout(%)           59 non-null     float64
 2   TotalVotes           59 non-null     object
 3   TotalElectoralVotes  59 non-null     int64
 4   ElectoralVotesToWin  59 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.4+ KB

### Ejercicio 5

* ¿En qué año se registró el mayor porcentaje de participación (Turnout)? ¿Y el mínimo?

In [8]:
### Completa con tu código aquí:

idx_max = df['Turnout(%)'].argmax()

max_turnout_year = df.iloc[idx_max]['ElectionYear']

print(f"Year with maximum turnout: {max_turnout_year}")

min_turnout_year = df.iloc[df['Turnout(%)'].argmin()]['ElectionYear']
print(f"Year with minimum turnout: {min_turnout_year}")

Year with maximum turnout: 1876
Year with minimum turnout: 1792

### Ejercicio 6

* Convertir la columna TotalVotes  que es de tipo 'object' a tipo numérico. Para ello es necesario eliminar las comas que indican miles. 

**Ayuda:** aplicar los métodos str.replace(...) y luego .astype(...) sobre la serie TotalVotes

In [9]:
### Completa con tu código aquí:

df['TotalVotes'] = df['TotalVotes'].str.replace(',','').astype(int)
df.head(3)

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin
0,1788,11.6,39624,69,35
1,1792,6.3,28300,132,66
2,1796,20.1,66841,138,69

### Ejercicio 7

* Generar una nueva columna que contenga la cantidad de gente empadronada (ElectoralRoll). Calcularlo a partir del número total de votos registrados (TotalVotes) y el porcentaje de participación (Turnout(%))

In [10]:
### Completa con tu código aquí:

df['ElectoralRoll'] = 100 * df['TotalVotes'] / df['Turnout(%)']
df.head()

,ElectionYear,Turnout(%),TotalVotes,TotalElectoralVotes,ElectoralVotesToWin,ElectoralRoll
0,1788,11.6,39624,69,35,341586.206897
1,1792,6.3,28300,132,66,449206.349206
2,1796,20.1,66841,138,69,332542.288557
3,1800,32.3,75142,138,69,232637.770898
4,1804,23.8,143029,176,88,600962.184874

### Ejercicio 8

* ¿En qué año se registró por primera vez más del 50% de participación?

In [11]:
### Completa con tu código aquí:

year =df.loc[df['Turnout(%)'] > 50,'ElectionYear'].min()

print("First year with > 50%: {}".format(year))

First year with > 50%: 1828

### Ejercicio 9

* ¿Cuál fue el máximo, mímino, promedio y desvio estandar en el nivel de participación durante siglo XX?

In [12]:
### Completa con tu código aquí:

mask_XX = (df['ElectionYear'] >= 1900) & (df['ElectionYear'] < 2000)

mn = df.loc[mask_XX, 'Turnout(%)'].mean()
sd = df.loc[mask_XX, 'Turnout(%)'].std()
_max = df.loc[mask_XX, 'Turnout(%)'].max()
_min = df.loc[mask_XX, 'Turnout(%)'].min()

print(f"mean => {np.round(mn, 2)}")
print(f"sd => {np.round(sd, 2)}")
print(f"max => {_max}")
print(f"min => {_min}")

mean => 58.55
sd => 5.78
max => 73.7
min => 48.9